.button {
    border-radius: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    padding: 1rem 2rem;

    &.primary {
        background-color: $black;
        color: $white;

        &:hover,
        &:focus {
            background-color: $primary-color;
            color: $white;
        }
    }

    &.expanded {
        width: 100%;
        background-color: transparent;
        border: 1px solid $black;
        color: $black;

        &:hover,
        &:focus {
            background-color: $black;
            color: $white;
        }
    }
}