.promo-banner {
    background-color: #f9be4a;
    padding: 0.75rem 0;

    p {
        margin: 0;
        font-size: 0.75rem;
        font-weight: 700;
        letter-spacing: 0.05em;
        color: $black;
    }

    @media screen and (max-width: 639px) {
        padding: 0.4rem 0.5rem;

        p {
            font-size: 0.6rem;
            line-height: 1.3;
            letter-spacing: 0.03em;
        }
    }
}
