body {
    font-family: $body-font-family;
    color: $black;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $body-font-family;
    font-weight: 700;
    color: $black;
}

p, li, a, span, div {
    font-family: $body-font-family;
}