.site-header {
    background-color: $white;
    box-shadow: 0 2px 4px rgba($black, 0.05);

    .top-bar {
        background-color: $white;
        padding: 1rem 0;

        ul {
            background-color: $white;
        }

        .menu-text {
            font-family: $header-font-family;
            font-size: 1.5rem;
            font-weight: 700;
            color: $primary-color;
        }

        a {
            color: $dark-gray;
            font-weight: 500;
            transition: color 0.3s ease;

            &:hover {
                color: $primary-color;
            }
        }
    }

    .title-bar {
        background-color: $white;
        color: $black;
        padding: 0.5rem;

        .menu-icon {
            &::after {
                background: $black;
                box-shadow: 0 7px 0 $black, 0 14px 0 $black;
            }
        }

        .title-bar-title {
            font-family: $header-font-family;
            color: $primary-color;
            font-weight: 700;
        }
    }
}