<section id="ingredients" class="ingredients-section">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell ingredients-header">
                <h2>Best-in-Class<br>Ingredients That Work</h2>
                <a href="#" class="button secondary">Full Ingredient List</a>
            </div>
        </div>
        <div class="grid-x grid-padding-x align-center ingredient-grid">
            <div class="cell medium-4">
                <div class="ingredient-card">
                    <div class="ingredient-image">
                        <img src="/src/assets/images/Bitmap-3.jpg" alt="Hyaluronic Acid">
                    </div>
                    <div class="ingredient-info">
                        <h5>Hyaluronic Acid</h5>
                        <p class="ingredient-type">All Day Moisturizer</p>
                    </div>
                </div>
            </div>
            <div class="cell medium-4">
                <div class="ingredient-card">
                    <div class="ingredient-image">
                        <img src="/src/assets/images/Bitmap-5.jpg" alt="Niacinamide">
                    </div>
                    <div class="ingredient-info">
                        <h5>Niacinamide</h5>
                        <p class="ingredient-type">All Day Moisturizer</p>
                    </div>
                </div>
            </div>
            <div class="cell medium-4">
                <div class="ingredient-card">
                    <div class="ingredient-image">
                        <img src="/src/assets/images/Bitmap-8.jpg" alt="Bamboo Charcoal">
                    </div>
                    <div class="ingredient-info">
                        <h5>Bamboo Charcoal</h5>
                        <p class="ingredient-type">All Day Moisturizer</p>
                    </div>
                </div>
            </div>
            <div class="cell medium-4">
                <div class="ingredient-card">
                    <div class="ingredient-image">
                        <img src="/src/assets/images/Bitmap-4.jpg" alt="Centella Asiatica">
                    </div>
                    <div class="ingredient-info">
                        <h5>Centella Asiatica</h5>
                        <p class="ingredient-type">Charcoal Cleanser</p>
                    </div>
                </div>
            </div>
            <div class="cell medium-4">
                <div class="ingredient-card">
                    <div class="ingredient-image">
                        <img src="/src/assets/images/Bitmap-6.jpg" alt="Rose Oil">
                    </div>
                    <div class="ingredient-info">
                        <h5>Rose Oil</h5>
                        <p class="ingredient-type">Charcoal Cleanser</p>
                    </div>
                </div>
            </div>
            <div class="cell medium-4">
                <div class="ingredient-card">
                    <div class="ingredient-image">
                        <img src="/src/assets/images/Bitmap-7.jpg" alt="Bamboo Charcoal">
                    </div>
                    <div class="ingredient-info">
                        <h5>Bamboo Charcoal</h5>
                        <p class="ingredient-type">Charcoal Cleanser</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
