<section class="product-section">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell">
                <h2 class="text-center">Best Sellers</h2>
            </div>
        </div>
        <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true, "wrapAround": true }'>
            <div class="carousel-cell">
                <div class="card">
                    <div class="card-image-container">
                        <img src="/src/assets/images/cleanser.png" alt="Cleanser">
                    </div>
                    <div class="card-section">
                        <h4>Gentle Cleanser</h4>
                        <div class="rating">
                            <img src="/src/assets/icons/stars.svg" alt="5 Stars">
                        </div>
                        <p>$25.00</p>
                        <a href="#" class="button expanded">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card">
                    <div class="card-image-container">
                        <img src="/src/assets/images/mositurizer.png" alt="Moisturizer">
                    </div>
                    <div class="card-section">
                        <h4>Daily Moisturizer</h4>
                        <div class="rating">
                            <img src="/src/assets/icons/stars.svg" alt="5 Stars">
                        </div>
                        <p>$35.00</p>
                        <a href="#" class="button expanded">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card">
                    <div class="card-image-container">
                        <img src="/src/assets/images/stick.png" alt="Eye Stick">
                    </div>
                    <div class="card-section">
                        <h4>Eye Stick</h4>
                        <div class="rating">
                            <img src="/src/assets/icons/stars.svg" alt="5 Stars">
                        </div>
                        <p>$18.00</p>
                        <a href="#" class="button expanded">Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="carousel-cell">
                <div class="card">
                    <div class="card-image-container">
                        <img src="/src/assets/images/cleanser.png" alt="Cleanser">
                    </div>
                    <div class="card-section">
                        <h4>Purifying Cleanser</h4>
                        <div class="rating">
                            <img src="/src/assets/icons/stars.svg" alt="5 Stars">
                        </div>
                        <p>$28.00</p>
                        <a href="#" class="button expanded">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>